---
import Container from "../../components/Container.astro";
import PageBody from "../../components/PageBody.astro";
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";
import FormWithConfirmation from "./form";
---

<Layout>
  <div class="u-tac">
    <PageTitle ja="CONTACT" />
  </div>
  <PageBody>
    <Container value="xsmall">
      <FormWithConfirmation client:load />
    </Container>
  </PageBody>
</Layout>

<style lang="scss"></style>

<script
  is:inline
  src="https://www.google.com/recaptcha/api.js?render=6LcH1nwoAAAAAGkyaXcuCwJJQpgHm00M6PwwHwwk&hl=ja"
></script>
<script>
  const form = document.getElementById("form");
  form?.addEventListener("submit", submitFormData);

  function submitFormData(event: Event) {
    event.preventDefault();
    grecaptcha.ready(() => {
      grecaptcha
        .execute("6LcH1nwoAAAAAGkyaXcuCwJJQpgHm00M6PwwHwwk", { action: "submit" })
        .then(async (token) => {
          const target = event.target as typeof event.target & {
            name: { value: string };
            email: { value: string };
            message: { value: string };
          };

          const data = {
            name: target.name.value,
            email: target.email.value,
            message: target.message.value,
            googleReCaptchaToken: token,
          };

          const formData = new FormData();
          Object.entries(data).forEach(([key, value]) => {
            formData.append(key, value);
          });

          await sendRequest(formData);
        });
    });
  }

  async function sendRequest(formData: FormData) {
    return await fetch("https://blog-739442.form.newt.so/v1/a3CPAUnoP", {
      method: "POST",
      body: formData,
      headers: {
        Accept: "application/json",
      },
    });
  }
</script>
